* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: rgb(46, 46, 46);
    overflow: hidden;
    height: 100%;
    width: 100%;
}

nav.tabs {
    background-color: rgb(53, 53, 53);
    height: 25px;
    cursor: default;
    border-bottom: 1px solid rgb(43, 43, 43);
    width: 100%;
}

nav.tabs .tab {
    background-color: transparent;
    color: rgb(204, 204, 204);
    border: none;
    padding: 4px 20px;
}

nav.tabs .tab:hover {
    background-color: rgb(46, 46, 46);
}

nav.tabs .tab.active {
    background-color: rgb(46, 46, 46);
    border: 1px solid rgb(43, 43, 43);
    border-top: 1px solid rgb(0,162,255);
}

nav.main {
    background-color: rgb(53, 53, 53);
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgb(43, 43, 43);
}

nav.left {
    width: 300px;
    height: calc(100% - 150px);
    background-color: rgb(53, 53, 53);
    border-right: 1px solid rgb(43, 43, 43);
}

nav.right {
    position: fixed;
    right: 0;
    top: 125px;
    width: 250px;
    height: calc(100% - 150px);
    background-color: rgb(53, 53, 53);
    border-left: 1px solid rgb(43, 43, 43);
}

nav.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(53, 53, 53);
    border-top: 1px solid rgb(43, 43, 43);
    width: 100%;
    height: 25px;
}

#main {
    top: 125px;
    left: 300px;
    position: fixed;
    width: calc(100% - (250px + 300px));
    height: calc(100% - (125px + 25px));
}

#main .tabs {
    background-color: rgb(53, 53, 53);
    height: 25px;
    cursor: default;
    border-bottom: 1px solid rgb(43, 43, 43);
    width: 100%;
}

#main .tabs .tab {
    background-color: transparent;
    color: rgb(204, 204, 204);
    border: none;
    padding: 4px 20px;
}

#main .tabs .tab:hover {
    background-color: rgb(46, 46, 46);
}

#main .tabs .tab.active {
    background-color: rgb(46, 46, 46);
    border: 1px solid rgb(43, 43, 43);
    border-top: 1px solid rgb(0,162,255);
}

#game {
    position: fixed;
    width: calc(100% - (250px + 300px));
    height: calc(100% - ((125px + 25px) + 25px));
}
